@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Mukta:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
}

.marquee-container::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.marquee-track {
    display: flex;
    gap: 17px;
    width: max-content;
}